body {
  margin: 0;
  background: linear-gradient(180deg, rgb(117, 81, 194), rgb(255, 255, 255));
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center; /* 水平方向の中央寄せ */
  justify-content: center; /* 垂直方向の中央寄せ */
  min-height: 80vh; /* コンテンツの高さを調整 */
  width: 100%;
  max-width: 800px; /* コンテンツの最大幅を設定 */
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: white;
  border-radius: 8px;
  overflow-y: auto; /* 縦スクロールを有効にする */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  border: 1px solid black;
  gap: 1px;
  background-color: black;
  border-radius: 8px;
  width: 100%; /* リストを親要素の幅に合わせる */
  overflow: auto;
}

li {
  background-color: white;
  padding: 8px;
}

li:hover {
  background: #dadbf9;
}

a {
  font-weight: 800;
  text-decoration: none;
}

/* Amplify UIのエラーメッセージの文字色を赤に設定 */
.amplify-field__error-message {
  color: red !important; /* エラーメッセージの文字色を赤に設定 */
  font-weight: bold; /* 必要に応じて文字を太字に */
}

/* Amplify UIの入力フィールドが無効（disabled）の場合の背景色を濃いグレーに設定 */
.amplify-textfield input:disabled,
.amplify-textarea textarea:disabled,
.amplify-select select:disabled,
.amplify-radio input:disabled {
  background-color: #d3d3d3; /* 濃いグレー */
  color: #6c6c6c; /* テキストの色も薄いグレーに変更 */
  cursor: not-allowed; /* 無効状態を示すカーソル */
}

/* Amplify UIの入力フィールドが入力必須項目の場合の背景色を赤に設定 */
.amplify-textfield input[required],
.amplify-textarea textarea[required],
.amplify-select select[required],
.amplify-radio input[required] {
  background-color: #ffe6e6; /* 薄い赤色 */
}

.hidden {
  display: none;
}
